.vscode/**
.vscode-test/**
out/**
node_modules/**
src/**
!src/webview-ui/dist/**
.gitignore
.yarnrc
webpack.config.js
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
scripts/**
